.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  cursor: pointer; /* Add a pointer cursor */
}

li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}